body{
    background-color: rgb(168, 166, 175);
}

.he{
    text-decoration: none;
    color:  rgb(201, 104, 25);
    font-weight: bolder;
    font-size: 30px;
    text-shadow: 3px 3px 3px rgba(5, 5, 5, 0.91);
    
}
.ni {
    color: aqua;
    font-size: 40px;
    text-shadow: 2px 2px 2px rgba(7, 7, 7, 0.5); /* Add a gray text shadow */
}

.ne{
    color: rgb(248, 149, 20);
    font-size: 40px;
    text-shadow: 2px 2px 2px rgba(7, 7, 7, 0.5); /* Add a gray text shadow */

}
.row {
    /* Reduce top margin or padding to decrease the top space */
    margin-bottom: -250px; /* Adjust this value to your preference */
    margin-left: 20px;
  }
  .text-center {
    /* Reduce top margin or padding to decrease the top space */
    margin-top: 50px; /* Adjust this value to your preference */
 
  }
  .bg-muted {
    /* Reduce top margin to decrease the top space */
    margin-top: 50px; /* Adjust this value to your preference */
    margin-left: 50px;
  }
  /* CSS for the image hover effect */
.w-100 {
    width: 100%; /* Set width to 100% */
    height: auto; /* Maintain aspect ratio */
    color: lightslategray;
    transition: opacity 0.3s ease-in-out; /* Add smooth transition effect */
  }
  
  .w-100:hover {
    opacity: 0.8; /* Adjust opacity to your preference on hover */
  }
  /* CSS for the image and paragraph hover effect */
/* Adjust the border radius without changing image size */
.image-container img {
    border-radius: 20px; /* Change this value as needed */
}
.cap{
    color: rgb(235, 221, 228);
}
/* Style for the blank-colored buttons */
.reaction {
    width: 40px; /* Set button width */
    height: 40px; /* Set button height */
    background-color: #ccc; /* Set initial background color */
    border: none;
    cursor: pointer;
    margin: 5px;
  }
  